<h1 i18n style="font-family: 'Anek Malayalam', sans-serif;">Shipping Address</h1>
<div class="container">
  <div class="row justify-content-between">
    <div class="col-md-10">
      <div class="buttons MyDiv">
        <button style="font-family: 'Anek Malayalam', sans-serif;" i18n type="button" class="btn btn-outline-dark OptionButtons">Home</button>
        <button style="font-family: 'Anek Malayalam', sans-serif;" i18n type="button" class="btn btn-outline-dark OptionButtons">Work</button>
        <button style="font-family: 'Anek Malayalam', sans-serif;" i18n type="button" class="btn btn-outline-dark OptionButtons">Other</button>
      </div>
      <div class="Inputs">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span i18n style="width: 200px; font-family: 'Anek Malayalam', sans-serif;" class="input-group-text">Apartment or Villa Name</span>
          </div>
          <input  type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span i18n style="width: 200px; font-family: 'Anek Malayalam', sans-serif;" class="input-group-text">Street Name or No.</span>
          </div>
          <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span i18n style="width: 200px; font-family: 'Anek Malayalam', sans-serif;" class="input-group-text">Area</span>
          </div>
          <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
        </div>

        <select style="margin-bottom: 20px; font-family: 'Anek Malayalam', sans-serif;" class="form-select" aria-label="Default select example" disabled>
          <option selected>United Arab Emirates</option>
        </select>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label i18n style="width: 200px; font-family: 'Anek Malayalam', sans-serif;" class="input-group-text" for="inputGroupSelect01">City</label>
          </div>
          <select style="width: 110px; border-top-right-radius: 5px; border-bottom-right-radius: 5px; text-align: center" class="custom-select" id="inputGroupSelect01">
            <option  selected>Abudhabi</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>

        <button i18n style="width: 200px; height: 50px; border-radius: 20px; font-weight: bold; margin-top: 20px" type="submit" class="btn btn-primary FormButton">Update</button>

      </div>
    </div>
  </div>
</div>
