<h1 i18n style="font-family: 'Anek Malayalam', sans-serif;">Wishlist</h1>
<div class="container">

  <div class="row">
    <div class="col-4 wishListCard">
      <div class="wishListImageDiv">
        <img class="wishListImage" src="assets/1980-ford-mustang.jpg" alt="Avatar" style="width:100%">
      </div>
    </div>
    <div class="col-4" style="margin-top: 30px">
      <h6 i18n STYLE="margin-bottom: -2px; font-family: 'Anek Malayalam', sans-serif;">10000AED CASH</h6>
      <small style="font-family: 'Anek Malayalam', sans-serif;">Mustang 1980</small>
      <h6 style="font-family: 'Anek Malayalam', sans-serif;">AED50.00</h6>
    </div>
    <div class="col-4">
      <button style="font-family: 'Anek Malayalam', sans-serif;" i18n type="button" class="btn btn-primary buttonStyle">Add to cart</button>
      <button style="font-family: 'Anek Malayalam', sans-serif;" i18n type="button" class="btn btn-outline-danger buttonStyle">Remove from wishlist</button>
    </div>
  </div>

</div>
