<h1>Wishlist</h1>
<div class="container">

  <div class="row">
    <div class="col-4 wishListCard">
      <div class="wishListImageDiv">
        <img class="wishListImage" src="assets/1980-ford-mustang.jpg" alt="Avatar" style="width:100%">
      </div>
    </div>
    <div class="col-4">
      <h6 STYLE="margin-bottom: -2px">10000AED CASH</h6>
      <small>Mustang 1980</small>
      <h6>AED50.00</h6>
    </div>
    <div class="col-4">
      <button type="button" class="btn btn-primary buttonStyle">Add to cart</button>
      <button type="button" class="btn btn-outline-danger buttonStyle">Remove from wishlist</button>
    </div>
  </div>

</div>
