<div class="container">
  <app-navbar></app-navbar>
</div>

<div class="container">
  <div class="row">

    <div class="col-md-8 DetailsCard">

      <div class="row MyDiv">

      <div style="width: 50%;">
        <img class="ProductImage" src="assets/1980-ford-mustang.jpg" alt="Avatar" >
        <h5 i18n style=" margin-top: 10px; font-family: 'Anek Malayalam', sans-serif;">Buy an Ideal pen</h5>
      </div>

      <div style="width: 50%;">
        <img class="PrizeImage" src="assets/1980-ford-mustang.jpg" alt="Avatar" >
        <h5 i18n style="margin-top: 10px; font-family: 'Anek Malayalam', sans-serif;">Get a chance to win a car</h5>
      </div>

      </div>

    </div>

    <div class="col-md-4 SideDetails MyDiv">
      <div class="PriceDiv">
        <div style="margin-top: 20px; margin-left: 10px; margin-right: 10px">
          <h4 i18n style="font-weight: bold;font-family: 'Anek Malayalam', sans-serif;">Price</h4>
          <h6 i18n style="font-weight: normal; font-family: 'Anek Malayalam', sans-serif;">including VAT</h6>
        </div>

<!--        <div style="float: right; margin-top: 10px; margin-right: 10px">-->
<!--          <h4 style="font-weight: bold; color: #61c652">AED 75.00</h4>-->

<!--        </div>-->
      </div>

      <button i18n style="font-family: 'Anek Malayalam', sans-serif;width: 100%; margin-top: 10px; height: 50px; border-radius: 10px; font-weight: bold" type="button" class="btn btn-primary">Add To Cart</button>
      <button i18n style="font-family: 'Anek Malayalam', sans-serif;width: 100%; margin-top: 10px; height: 50px; border-radius: 10px; font-weight: bold" type="button" class="btn btn-outline-primary"><i style="margin-right: 5px; margin-left: 5px" class="fa fa-heart" aria-hidden="true"></i>Add to Wishlist</button>
      <button i18n style="font-family: 'Anek Malayalam', sans-serif;width: 100%; margin-top: 10px; height: 50px; border-radius: 10px; font-weight: bold" type="button" class="btn btn-outline-primary"><i style="margin-right: 5px; margin-left: 5px" class="fa fa-share-alt" aria-hidden="true"></i>Share Campaign</button>


    </div>
  </div>

  <div class="row">
    <h4 i18n style="margin-top: 10px; font-weight: bold; font-family: 'Anek Malayalam', sans-serif;">Buy a Ideal Pen and get a chance to win AED40,000 Cash</h4>
    <h3 i18n style="font-weight: normal; font-family: 'Anek Malayalam', sans-serif;">Prize Details</h3>
    <small style="font-weight: normal; font-family: 'Anek Malayalam', sans-serif;">
      Need a holiday? Maybe you have a birthday or a special event coming up? Whether you want to buy something special or simply pay a bill, AED40,000 will always come in useful.
    </small>
  </div>

  <div class="row">
    <div class="col-md-2 ProductCard">
      <img class="ProductImageCard" src="assets/1980-ford-mustang.jpg" alt="Avatar" >
      <h6 style="margin-top: 15px; font-weight: bold; font-family: 'Anek Malayalam', sans-serif;">Ideal Pen</h6>
      <h6 style="margin-top: -10px; font-weight: bold; color: #61c652; font-family: 'Anek Malayalam', sans-serif;">20 DHS</h6>
    </div>
    <div class="col-md-4">
      <h3 i18n style="margin-top: 30px; font-weight: normal; font-family: 'Anek Malayalam', sans-serif;">Product Details</h3>
      <small style="font-weight: normal; font-family: 'Anek Malayalam', sans-serif;">
        Need a holiday? Maybe you have a birthday or a special event coming up? Whether you want to buy something special or simply pay a bill, AED40,000 will always come in useful.
      </small>
    </div>
  </div>
</div>
