<nav class="navbar navbar-expand-lg navbar-light bg-light NavBar">
  <a style="margin-left: 10px; font-weight: bold; font-family: 'Anek Malayalam', sans-serif;" class="navbar-brand " href="/home">Rpeep</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a i18n="@@products" style="font-weight: bold; font-family: 'Anek Malayalam', sans-serif;" class="nav-link" href="/home/#Products">Products <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a i18n="@@winners" style="font-weight: bold; font-family: 'Anek Malayalam', sans-serif;" class="nav-link" href="/home/#Winners">Winners</a>
      </li>
      <li class="nav-item active">
        <a i18n="@@contact" style="font-weight: bold; font-family: 'Anek Malayalam', sans-serif;" class="nav-link" href="/contact">Contact Us<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a i18n="@@call" style="font-weight: bold; font-family: 'Anek Malayalam', sans-serif;" class="nav-link" href="#">Call 0800-Rpeep</a>
      </li>
      <li class="nav-item dropdown">
        <a style="font-weight: bold; font-family: 'Anek Malayalam', sans-serif;" class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false"><img style="margin-right: 10px; margin-bottom: 3px" src="assets/PNG/AE.png">AED</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a style="font-weight: bold; font-family: 'Anek Malayalam', sans-serif;" class="dropdown-item" href="#"><img style="margin-right: 10px; margin-left: 10px" src="assets/PNG/BH.png">BHD</a>
          <a style="font-weight: bold; font-family: 'Anek Malayalam', sans-serif;" class="dropdown-item" href="#"><img style="margin-right: 10px; margin-left: 10px" src="assets/PNG/IN.png">INR</a>
          <a style="font-weight: bold; font-family: 'Anek Malayalam', sans-serif;" class="dropdown-item" href="#"><img style="margin-right: 10px; margin-left: 10px" src="assets/PNG/KW.png">KWD</a>
          <a style="font-weight: bold; font-family: 'Anek Malayalam', sans-serif;" class="dropdown-item" href="#"><img style="margin-right: 10px; margin-left: 10px" src="assets/PNG/OM.png">OMR</a>
          <a style="font-weight: bold; font-family: 'Anek Malayalam', sans-serif;" class="dropdown-item" href="#"><img style="margin-right: 10px; margin-left: 10px" src="assets/PNG/QA.png">QAR</a>
          <a style="font-weight: bold; font-family: 'Anek Malayalam', sans-serif;" class="dropdown-item" href="#"><img style="margin-right: 10px; margin-left: 10px" src="assets/PNG/SA.png">SAR</a>
          <a style="font-weight: bold; font-family: 'Anek Malayalam', sans-serif;" class="dropdown-item" href="#"><img style="margin-right: 10px; margin-left: 10px" src="assets/PNG/US.png">USD</a>

        </div>
      </li>
      <li class="nav-item">
        <a i18n="@@language" style="font-weight: bold; font-family: 'Anek Malayalam', sans-serif;" class="nav-link" href="#">Language</a>
      </li>
      <li class="nav-item">
        <a style="font-weight: bold; font-family: 'Anek Malayalam', sans-serif;" class="nav-link" href="/profile">Profile</a>
      </li>

    </ul>
  </div>
</nav>
