.NavBar {
  border-radius: 20px 20px 20px 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  //background: black !important;

}

//.Currency {
//  float: right !important;
//}

a:hover {
  color: orangered !important;

}

