<h1>Levels</h1>
<div class="timeline">
  <div class="outer">
    <div class="card" style="background: navy !important;">
      <div class="info">
        <h3 class="title">Blue level</h3>
        <small style="color: white; font-family: sans-serif, rubik">Validity 365 Days</small>
        <h6 style="color: white; font-weight: bold; font-family: sans-serif, rubik; margin-bottom: -10px">Benefits</h6>
        <small style="color: white; font-family: sans-serif, rubik; font-size: 10px;">Get back 1.25% of your purchase in ipoints for a 12 months trailing period</small>
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <small style="color: white; font-family: sans-serif, rubik; font-size: 10px; margin-top: -10px">Purchase for AED20,000 more to reach Silver Level</small>
      </div>
    </div>
    <div class="card" style="background: silver !important;">
      <div class="info">
        <h3 class="title">Siver level<span class='btn btn-light SpanText' style="margin-left: 10px; float: right"><span class="dot"></span>Active</span></h3>
        <small style="color: white; font-family: sans-serif, rubik">Validity 365 Days</small>
        <h6 style="color: white; font-weight: bold; font-family: sans-serif, rubik; margin-bottom: -10px">Benefits</h6>
        <small style="color: white; font-family: sans-serif, rubik; font-size: 10px;">Get back 1.25% of your purchase in ipoints for a 12 months trailing period</small>
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <small style="color: white; font-family: sans-serif, rubik; font-size: 10px; margin-top: -10px">Purchase for AED40,000 more to reach Gold Level</small>
      </div>
    </div>
    <div class="card" style="background: goldenrod !important;">
      <div class="info">
        <h3 class="title">Gold level</h3>
        <small style="color: white; font-family: sans-serif, rubik">Validity 365 Days</small>
        <h6 style="color: white; font-weight: bold; font-family: sans-serif, rubik; margin-bottom: -10px">Benefits</h6>
        <small style="color: white; font-family: sans-serif, rubik; font-size: 10px;">Get back 1.25% of your purchase in ipoints for a 12 months trailing period</small>
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <small style="color: white; font-family: sans-serif, rubik; font-size: 10px; margin-top: -10px">Purchase for AED80,000 more to reach Platinium Level</small>
      </div>
    </div>
    <div class="card" style="background: 	sienna !important;">
      <div class="info">
        <h3 class="title">Platinium level</h3>
        <small style="color: white; font-family: sans-serif, rubik">Validity 365 Days</small>
        <h6 style="color: white; font-weight: bold; font-family: sans-serif, rubik; margin-bottom: -10px">Benefits</h6>
        <small style="color: white; font-family: sans-serif, rubik; font-size: 10px;">Get back 1.25% of your purchase in ipoints for a 12 months trailing period</small>
      </div>
    </div>
  </div>
</div>
