<h1 i18n style="margin-bottom: 10px">Levels</h1>
<div class="timeline">
  <div class="outer">
    <div class="card" style="background: #8AB1D0 !important;">
      <div class="info">
        <h3 i18n class="title" style="font-family: 'Anek Malayalam', sans-serif;">Blue level</h3>
        <small i18n style="color: white; font-family: 'Anek Malayalam', sans-serif;">Validity 365 Days</small>
        <h6 i18n style="color: white; font-weight: bold; font-family: 'Anek Malayalam', sans-serif; margin-bottom: -10px">Benefits</h6>
        <small i18n style="color: white; font-family: 'Anek Malayalam', sans-serif; font-size: 10px;">Get back 1.25% of your purchase in ipoints for a 12 months trailing period</small>
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <small i18n style="color: white; font-family: 'Anek Malayalam', sans-serif; font-size: 10px; margin-top: -10px">Purchase for AED20,000 more to reach Silver Level</small>
      </div>
    </div>
    <div class="card" style="background: silver !important;">
      <div class="info">
        <h3 i18n class="title" style="font-family: 'Anek Malayalam', sans-serif;">Siver level</h3>
        <small i18n style="color: white; font-family: 'Anek Malayalam', sans-serif;">Validity 365 Days</small>
        <h6 i18n style="color: white; font-weight: bold; font-family: 'Anek Malayalam', sans-serif; margin-bottom: -10px">Benefits</h6>
        <small i18n style="color: white; font-family: 'Anek Malayalam', sans-serif; font-size: 10px;">Get back 1.25% of your purchase in ipoints for a 12 months trailing period</small>
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <small i18n style="color: white; font-family: 'Anek Malayalam', sans-serif; font-size: 10px; margin-top: -10px">Purchase for AED40,000 more to reach Gold Level</small>
      </div>
    </div>
    <div class="card" style="background: goldenrod !important;">
      <div class="info">
        <h3 style="font-family: 'Anek Malayalam', sans-serif;" i18n class="title">Gold level</h3>
        <small i18n style="color: white; font-family: 'Anek Malayalam', sans-serif;">Validity 365 Days</small>
        <h6 i18n style="color: white; font-weight: bold; font-family: 'Anek Malayalam', sans-serif; margin-bottom: -10px">Benefits</h6>
        <small i18n style="color: white; font-family: 'Anek Malayalam', sans-serif; font-size: 10px;">Get back 1.25% of your purchase in ipoints for a 12 months trailing period</small>
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <small i18n style="color: white; font-family: 'Anek Malayalam', sans-serif; font-size: 10px; margin-top: -10px">Purchase for AED80,000 more to reach Platinium Level</small>
      </div>
    </div>
    <div class="card" style="background: 	sienna !important;">
      <div class="info">
        <h3 i18n class="title" style="font-family: 'Anek Malayalam', sans-serif;">Platinium level</h3>
        <small i18n style="color: white; font-family: 'Anek Malayalam', sans-serif;">Validity 365 Days</small>
        <h6 i18n style="color: white; font-weight: bold; font-family: 'Anek Malayalam', sans-serif; margin-bottom: -10px">Benefits</h6>
        <small i18n style="color: white; font-family: 'Anek Malayalam', sans-serif; font-size: 10px;">Get back 1.25% of your purchase in ipoints for a 12 months trailing period</small>
      </div>
    </div>
  </div>
</div>
