
<div class="container">
  <app-navbar></app-navbar>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h1 i18n style="font-weight: bold; font-family: 'Anek Malayalam', sans-serif;">Contact</h1>
      <h6 i18n style="margin-bottom: 30px; font-family: 'Anek Malayalam', sans-serif;">Please fill in the form below and a dedicated member of our team will be in touch within 24 hrs</h6>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span i18n style="width: 120px; font-family: 'Anek Malayalam', sans-serif;" class="input-group-text" id="basic-addon1">Full Name</span>
        </div>
        <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span i18n style="width: 120px; font-family: 'Anek Malayalam', sans-serif;" class="input-group-text">Email</span>
        </div>
        <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span i18n style="width: 120px; font-family: 'Anek Malayalam', sans-serif;" class="input-group-text">Topic</span>
        </div>
        <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
      </div>

      <div class="input-group">
        <div class="input-group-prepend">
          <span i18n style="width: 120px; height: 100px; font-family: 'Anek Malayalam', sans-serif;" class="input-group-text">Message</span>
        </div>
        <textarea class="form-control" aria-label="With textarea"></textarea>
      </div>

      <button i18n style="width: 200px; height: 50px; border-radius: 20px; font-weight: bold; margin-top: 20px; margin-bottom: 20px" type="submit" class="btn btn-primary FormButton">Update</button>


    </div>

    <div class="col-md-6">

      <div class="card map-card">
        <!--Google map-->
        <div id="map-container-google-1" class="z-depth-1-half map-container">
          <iframe src="https://maps.google.com/maps?q=lot 13, V5XR+M37 Résidence Essalem II, Avenue Fethi Zouhir, Cebalat Ben Ammar 2083&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"
                  style="border:0" allowfullscreen></iframe>
        </div>
      </div>

      <div class="MapCard">
        <div class="row" style="margin-right: 10px">
          <h4 i18n style="margin-left: 10px; margin-top: 10px; font-family: 'Anek Malayalam', sans-serif;">Rpeep Headquarters</h4>
          <h6 i18n style="margin-left: 10px; margin-top: 5px; font-weight: normal; font-family: 'Anek Malayalam', sans-serif;">Box Park,</h6>
          <h6 i18n style="margin-left: 10px; font-weight: normal; font-family: 'Anek Malayalam', sans-serif;">Al Wasl Rd, P.O. Box 122555</h6>
          <h6 i18n style="margin-left: 10px; font-weight: normal; font-family: 'Anek Malayalam', sans-serif;">Dubai, United Arab Emirates</h6>

        </div>
        <div class="row justify-content-between" style="margin-right: 10px">

          <div style="margin-left: 10px; margin-top: 50px;" class="col">
          <h6 i18n style=" font-weight: normal; margin-bottom: -10px; font-family: 'Anek Malayalam', sans-serif;">Call us now</h6>
          <h5 style=" margin-top: 10px  ;font-weight: bolder; font-family: 'Anek Malayalam', sans-serif;">800-Rpeep (433259)</h5>
          </div>

          <div style="margin-top: 50px" class="col">
            <h6 i18n style=" font-weight: normal; margin-bottom: -10px; font-family: 'Anek Malayalam', sans-serif;">Write us an email</h6>
            <h5 style=" margin-top: 10px  ;font-weight: bolder; font-family: 'Anek Malayalam', sans-serif;">800-Rpeep (433259)</h5>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>


