<h1>Settings</h1>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h4 style="font-weight: bold">Currency</h4>
      <select style="margin-bottom: 15px" class="form-select" aria-label="Default select example">
        <option selected>Open this select menu</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>

      <h4 style="font-weight: bold">Languages</h4>
      <select style="margin-bottom: 50px" class="form-select" aria-label="Default select example">
        <option selected>Open this select menu</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>

      <h4 style="font-weight: bold">Change password</h4>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span style="width: 155px" class="input-group-text" id="inputGroup-sizing-default">Current password</span>
        </div>
        <input type="password" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button"><i class="fa fa-eye" aria-hidden="true"></i></button>
        </div>
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span style="width: 155px" class="input-group-text">New password</span>
        </div>
        <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button"><i class="fa fa-eye" aria-hidden="true"></i></button>
        </div>
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span style="width: 155px" class="input-group-text">Confirm password</span>
        </div>
        <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button"><i class="fa fa-eye" aria-hidden="true"></i></button>
        </div>
      </div>
      <button style="width: 200px; height: 50px; border-radius: 20px; font-weight: bold;" type="submit" class="btn btn-primary FormButton">Update</button>

    </div>
  </div>


</div>
