
<div class="container">
  <app-navbar></app-navbar>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="ProfileBox MyDiv" style="background: #8AB1D0">
        <div class="ProfilePicDiv">
          <img class="ProfilePic" src="assets/pic.jpg" alt="Avatar" style="width:100%">
        </div>
        <h3 class="UserName">Marwen Khazri</h3>
        <h6 style="color: white">MarwenKhazri@Gmail.su</h6>
      </div>
      <div class="LevelBox">
        <label class="RankInfo" style="margin-top: 10px; margin-right: 10px">
        <h5 i18n style="margin-bottom: -5px; font-weight: bold; font-family: 'Titillium Web', sans-serif;margin-right: 5px; color: #8AB1D0">Blue Member</h5>
          <small i18n style="font-family: 'Titillium Web', sans-serif;margin-right: 5px;">Expiring in 365</small>
          <h5 style="margin-bottom: -5px; font-weight: bold; font-family: 'Titillium Web', sans-serif;margin-right: 5px;">5.00 AED</h5>
          <small i18n style="font-family: 'Titillium Web', sans-serif;margin-right: 5px;">your available iPoints</small>
        </label>
<!--        <label class="IpointsDiv">-->
<!--          <h5 style="margin-bottom: -5px; font-weight: bold; font-family: sans-serif, rubik;">5.00 AED</h5>-->
<!--          <small i18n style="font-family: sans-serif, rubik;">your available iPoints</small>-->
<!--        </label><br>-->
        <label class="benefits" style="margin-top: -20px; margin-right: 10px">
          <h6 i18n style=" margin-top: 40px; margin-bottom: -5px; font-weight: bold; font-family: 'Titillium Web', sans-serif;">Benefits</h6>
          <small i18n style="font-size: 10px;  font-family: 'Titillium Web', sans-serif;">Get Back 1% of your purchase in iPoints for 12 months tralling period</small>
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <small i18n style="font-family: 'Titillium Web', sans-serif;">purchase with 20AED more to reach silver level</small>
        </label>
      </div>
      <div class="MenuBox MyDiv">
        <button i18n style="border-top-right-radius:20px; border-top-left-radius: 20px; text-align: center; font-family: 'Titillium Web', sans-serif;" (click)="showWishlist()" type="button" class="btn btn-outline-dark MenuButton"><i style="margin-right: 5px; margin-left: 5px" class="fa fa-heart" aria-hidden="true"></i>Wishlist</button>
        <button i18n style="text-align: center; font-family: 'Titillium Web', sans-serif;" (click)="showLevels()" type="button" class="btn btn-outline-dark MenuButton"><i style="margin-right: 5px; margin-left: 5px" class="fa fa-flag" aria-hidden="true"></i>Levels</button>
        <button i18n style="text-align: center; font-family: 'Titillium Web', sans-serif;" (click)="showPoints()" type="button" class="btn btn-outline-dark MenuButton"><i style="margin-right: 5px; margin-left: 5px" class="fa fa-dollar" aria-hidden="true"></i>Points</button>
        <button i18n style="text-align: center;font-family: 'Titillium Web', sans-serif;" type="button" class="btn btn-outline-dark MenuButton"><i style="margin-right: 5px; margin-left: 5px" class="fa fa-ticket" aria-hidden="true"></i>Active Coupons</button>
        <button i18n style="text-align: center; font-family: 'Titillium Web', sans-serif;" type="button" class="btn btn-outline-dark MenuButton"><i style="margin-right: 5px; margin-left: 5px" class="fa fa-credit-card-alt" aria-hidden="true"></i>Payment</button>
        <button i18n style="text-align: center; font-family: 'Titillium Web', sans-serif;" (click)="showSettings()" type="button" class="btn btn-outline-dark MenuButton"><i style="margin-right: 5px; margin-left: 5px" class="fa fa-screwdriver-wrench" aria-hidden="true"></i>Settings</button>
        <button i18n style="text-align: center; font-family: 'Titillium Web', sans-serif;" (click)="showAddressInfo()" type="button" class="btn btn-outline-dark MenuButton"><i style="margin-right: 5px; margin-left: 5px" class="fa fa-map-marker-alt" aria-hidden="true"></i>Shipping Address</button>
        <button i18n type="button" style="border-bottom-left-radius: 20px; border-bottom-right-radius: 20px; text-align: center; font-family: 'Titillium Web', sans-serif;" class="btn btn-outline-dark MenuButton"><i style="margin-right: 5px; margin-left: 5px" class="fa fa-sign-out-alt" aria-hidden="true"></i>Sign Out</button>
      </div>
    </div>
    <div class="col-md-8">
      <form *ngIf="personalDetailsState">
        <h1 style="font-family: 'Anek Malayalam', sans-serif;" i18n>Personal Details</h1>
        <div class="form-row">
          <label class="form-group col-md-5 LeftInput">
            <label i18n style="font-weight: bold; font-family: 'Titillium Web', sans-serif;">First Name</label>
            <input class="form-control" >
          </label>
          <label class="form-group col-md-5 RightInput" style="margin-right: 10px">
            <label i18n style="font-weight: bold; font-family: 'Titillium Web', sans-serif;">Last Name</label>
            <input class="form-control">
          </label>
        </div>

        <div class="form-row">
          <label class="form-group col-md-5 LeftInput">
            <label i18n style="font-weight: bold; font-family: 'Titillium Web', sans-serif;">Email</label>
            <input class="form-control">
          </label>
          <label class="form-group col-md-5 RightInput" style="margin-right: 10px">
            <label i18n style="font-weight: bold; font-family: 'Titillium Web', sans-serif;">Date</label>
            <input type="date" class="form-control">
          </label>
        </div>

        <div class="form-row">
          <label class="form-group col-md-5 LeftInput">
            <label i18n for="inputState" style="font-weight: bold; font-family: 'Titillium Web', sans-serif;">Country Code</label>
            <select  class="form-control" >
              <option i18n value="" selected disabled hidden>Choose here</option>
              <option *ngFor="let c of COUNTRIES">{{c.mobileCode}}</option>
            </select>
          </label>
          <label class="form-group col-md-5 RightInput" style="margin-right: 10px">
            <label i18n style="font-weight: bold; font-family: 'Titillium Web', sans-serif;">Number</label>
            <input class="form-control">
          </label>
        </div>

        <div class="form-row">
          <label class="form-group col-md-5 LeftInput">
            <label i18n for="inputState" style="font-weight: bold; font-family: 'Titillium Web', sans-serif;">Nationality</label>
            <select id="inputState" class="form-control" >
              <option i18n value="" selected disabled hidden>Choose here</option>
              <option *ngFor="let c of COUNTRIES">{{c.name}}</option>
            </select>
          </label>
          <label class="form-group col-md-5 LeftInput" style="margin-right: 10px">
            <label i18n for="inputState" style="font-weight: bold; font-family: 'Titillium Web', sans-serif;">Country of residence</label>
            <select class="form-control" >
              <option i18n value="" selected disabled hidden>Choose here</option>
              <option *ngFor="let c of COUNTRIES">{{c.name}}</option>
            </select>
          </label>
        </div>


        <div class="form-row">
          <label i18n style="font-weight: bold; font-family: 'Titillium Web', sans-serif;">Gender:</label><br>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
            <label style="font-family: 'Titillium Web', sans-serif;" i18n class="form-check-label" for="inlineRadio1">Male</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
            <label style="font-family: 'Titillium Web', sans-serif;" i18n class="form-check-label" for="inlineRadio2">Female</label>
          </div>
        </div>

        <button i18n style="font-family: 'Titillium Web', sans-serif; font-size: x-large; width: 200px; height: 50px; border-radius: 20px; font-weight: bold; margin-top: 20px" type="submit" class="btn btn-primary FormButton">Update</button>

      </form>
      <div *ngIf="wishListState"><!--WishList-->
        <app-wishlist></app-wishlist>
      </div>
      <div *ngIf="levelState"><!--levels-->
        <app-levels></app-levels>
      </div>
      <div *ngIf="pointsState">
        <app-points></app-points>
      </div>
      <div *ngIf="settingsState">
        <app-settings></app-settings>
      </div>
      <div *ngIf="addressInfoState">
        <app-address></app-address>
      </div>
    </div>
  </div>


</div>
