<div class="modal-header">
  <button type="button" class="btn-close" aria-label="Close" (click)="modalRef.close()"></button>
</div>
<div class="modal-body">
  <div class="Image">
    <img class="ProductImageSimpleDetails" src="assets/1980-ford-mustang.jpg" alt="Avatar" >
  </div>
  <div class="Description">
    <p>
      A classic look with a timeless message, the ‘H2H’ hoodie is about empowering the individual to make a positive social change. The design also represents the passion of the brand, our dedication to style and our ambition to help others less fortunate around the world.
    </p>
  </div>
</div>

