.progress {
  height: 10px;
  width: 150px;
  margin-bottom: 20px;

}

.ProductImageComplexDetails {
  width: 100%;
  height: 100%;
}

.DetailsButtons {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
