<h1>Points</h1>

<div class="container">

  <div class="row">

    <div class="col-md-9">
      <div class="availablePoints">
        <div class="LeftSide">
        <h6 style="margin-bottom: -5px; font-size: 15px">your available points</h6>
        <h2 style="float: left">50</h2>
        </div>
        <div class="RightSide">
          <h6 style="margin-bottom: -5px; font-size: 15px">your available points</h6>
          <h2 style="float: left">AED 5.00</h2>
        </div>

      </div>

      <div class="PointsInfo">
        <div class="LeftSide">
          <h5 class="InfoText" style="margin-left: -10px">Earned through purchases</h5>
          <h5 class="InfoText">Earned through promotions</h5>
          <h5 class="InfoText" style="color: lawngreen; margin-left: -130px;">Total Earned</h5>
          <h5 class="InfoText" style="color: red; margin-left: -140px;">Total Spent</h5>
          <h5 class="InfoText" style="margin-left: -45px">Your available iPoints</h5>
        </div>

        <div class="RightSide">
          <h5 class="InfoText">100</h5>
          <h5 class="InfoText">130</h5>
          <h5 class="InfoText" style="color: lawngreen;">50</h5>
          <h5 class="InfoText" style="color: red; ">0</h5>
          <h5 class="InfoText">2000</h5>
        </div>


      </div>
    </div>

  </div>

</div>
