<h1 i18n>Points</h1>

<div class="container">

  <div class="row">

    <div class="col-md-9">
      <div class="availablePoints">
        <div class="LeftSide">
        <h6 i18n style="margin-bottom: -5px; font-size: 15px; font-family: 'Anek Malayalam', sans-serif;">your available points</h6>
        <h2 style="float: left; font-family: 'Anek Malayalam', sans-serif;">50</h2>
        </div>
        <div class="RightSide">
          <h6 i18n style="margin-bottom: -5px; font-size: 15px; font-family: 'Anek Malayalam', sans-serif;">your available points</h6>
          <h2 style="float: left; font-family: 'Anek Malayalam', sans-serif;">AED 5.00</h2>
        </div>

      </div>

      <div class="PointsInfo MyDiv">
          <h5 style="font-family: 'Anek Malayalam', sans-serif;" i18n class="InfoText">Earned through purchases</h5>
          <h5 style="font-family: 'Anek Malayalam', sans-serif;" i18n class="InfoText">Earned through promotions</h5>
          <h5 i18n class="InfoText" style="color: lawngreen; font-family: 'Anek Malayalam', sans-serif;">Total Earned</h5>
          <h5 i18n class="InfoText" style="color: red; font-family: 'Anek Malayalam', sans-serif;">Total Spent</h5>
          <h5 style="font-family: 'Anek Malayalam', sans-serif;" i18n class="InfoText">Your available iPoints</h5>
      </div>
    </div>

  </div>

</div>
