

<div class="container">
  <app-navbar></app-navbar>
</div>

<div class="container"> <!--Container -->

        <div class="row">
<!--          <div class="col-md-12 MainImageCol">-->
<!--            <img class="MainImage" src="assets/1980-ford-mustang.jpg" alt="Avatar" >-->
          <ngb-carousel>
            <ng-template ngbSlide>
              <div class="picsum-img-wrapper">
                <img class="MainImage" src="assets/1980-ford-mustang.jpg" alt="Avatar" >
              </div>
              <div class="carousel-caption">
                <h3 style="font-family: 'Anek Malayalam', sans-serif;">Mustang 1980</h3>
<!--                <p></p>-->
              </div>
            </ng-template>
            <ng-template ngbSlide>
              <div class="picsum-img-wrapper">
                <img class="MainImage" src="assets/1980-ford-mustang.jpg" alt="Avatar" >
              </div>
              <div class="carousel-caption">
                <h3 style="font-family: 'Anek Malayalam', sans-serif;">Camaro 1999</h3>
<!--                <p>This carousel doesn't pause or resume on mouse events</p>-->
              </div>
            </ng-template>
            <ng-template ngbSlide>
              <div class="picsum-img-wrapper">
                <img class="MainImage" src="assets/1980-ford-mustang.jpg" alt="Avatar" >
              </div>
              <div class="carousel-caption">
                <h3 style="font-family: 'Anek Malayalam', sans-serif;">dodge 2001</h3>
<!--                <p>This carousel uses customized default values.</p>-->
              </div>
            </ng-template>
            <ng-template ngbSlide>
              <div class="picsum-img-wrapper">
                <img class="MainImage" src="assets/1980-ford-mustang.jpg" alt="Avatar" >
              </div>
              <div class="carousel-caption">
                <h3 style="font-family: 'Anek Malayalam', sans-serif;">BMW</h3>
<!--                <p>This carousel uses customized default values.</p>-->
              </div>
            </ng-template>
          </ngb-carousel>
<!--          </div>-->
        </div>

      <h2 class="CardListText" i18n>Closing soon</h2>

    <div class="row CardListRow">

      <button style="background: white; border: white" class="col-md-2 CardList MyDiv test" (click)="openComplexModal()">
        <div class="TopDiv">
        <div class="CardText">
          <small i18n style="margin-top: 5px; font-family: 'Anek Malayalam', sans-serif;">90 sold out of 400</small>
        </div>
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
          <div class="CardImageDiv">
            <img class="CardImages" src="assets/1980-ford-mustang.jpg" alt="Avatar" style="width:100%">
          </div>
          <div class="CardDescription">
            <small i18n style="font-family: 'Titillium Web', sans-serif; font-size: 20px;">Get chance to win mustang 1980</small>
          </div>
          <div class="CardButton">
            <button i18n style="border-radius: 20px; width: 150px;  font-weight: bold;font-family: 'Anek Malayalam', sans-serif;" class="btn btn-outline-primary">Add to cart</button>
          </div>
        </div>
      </button>

      <button style="background: white; border: white" class="col-md-2 CardList MyDiv test" (click)="openComplexModal()">
        <div class="TopDiv">
          <div class="CardText">
            <small i18n style="margin-top: 5px; font-family: 'Anek Malayalam', sans-serif;">90 sold out of 400</small>
          </div>
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <div class="CardImageDiv">
            <img class="CardImages" src="assets/1980-ford-mustang.jpg" alt="Avatar" style="width:100%">
          </div>
          <div class="CardDescription">
            <small i18n style="font-family: 'Titillium Web', sans-serif; font-size: 20px;">Get chance to win mustang 1980</small>
          </div>
          <div class="CardButton">
            <button i18n style="border-radius: 20px; width: 150px;  font-weight: bold;font-family: 'Anek Malayalam', sans-serif;" class="btn btn-outline-primary">Add to cart</button>
          </div>
        </div>
      </button>

      <button style="background: white; border: white" class="col-md-2 CardList MyDiv test" (click)="openComplexModal()">
        <div class="TopDiv">
          <div class="CardText">
            <small i18n style="margin-top: 5px; font-family: 'Anek Malayalam', sans-serif;">90 sold out of 400</small>
          </div>
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <div class="CardImageDiv">
            <img class="CardImages" src="assets/1980-ford-mustang.jpg" alt="Avatar" style="width:100%">
          </div>
          <div class="CardDescription">
            <small i18n style="font-family: 'Titillium Web', sans-serif; font-size: 20px;">Get chance to win mustang 1980</small>
          </div>
          <div class="CardButton">
            <button i18n style="border-radius: 20px; width: 150px;  font-weight: bold;font-family: 'Anek Malayalam', sans-serif;" class="btn btn-outline-primary">Add to cart</button>
          </div>
        </div>
      </button>

      <button style="background: white; border: white" class="col-md-2 CardList MyDiv test" (click)="openComplexModal()">
        <div class="TopDiv">
          <div class="CardText">
            <small i18n style="margin-top: 5px; font-family: 'Anek Malayalam', sans-serif;">90 sold out of 400</small>
          </div>
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <div class="CardImageDiv">
            <img class="CardImages" src="assets/1980-ford-mustang.jpg" alt="Avatar" style="width:100%">
          </div>
          <div class="CardDescription">
            <small i18n style="font-family: 'Titillium Web', sans-serif; font-size: 20px;">Get chance to win mustang 1980</small>
          </div>
          <div class="CardButton">
            <button i18n style="border-radius: 20px; width: 150px;  font-weight: bold;font-family: 'Anek Malayalam', sans-serif;" class="btn btn-outline-primary">Add to cart</button>
          </div>
        </div>
      </button>

      <button style="background: white; border: white" class="col-md-2 CardList MyDiv test" (click)="openComplexModal()">
        <div class="TopDiv">
          <div class="CardText">
            <small i18n style="margin-top: 5px; font-family: 'Anek Malayalam', sans-serif;">90 sold out of 400</small>
          </div>
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <div class="CardImageDiv">
            <img class="CardImages" src="assets/1980-ford-mustang.jpg" alt="Avatar" style="width:100%">
          </div>
          <div class="CardDescription">
            <small i18n style="font-family: 'Titillium Web', sans-serif; font-size: 20px;">Get chance to win mustang 1980</small>
          </div>
          <div class="CardButton">
            <button i18n style="border-radius: 20px; width: 150px;  font-weight: bold;font-family: 'Anek Malayalam', sans-serif;" class="btn btn-outline-primary">Add to cart</button>
          </div>
        </div>
      </button>

    </div>


      <div class="row Ads">
        <button style="border: transparent; border-radius: 20px" class="col-md-5 AdOne MyDiv">
            <img src="assets/1980-ford-mustang.jpg" alt="Avatar" class="AdOneImage">
        </button>
        <button style="border: transparent; border-radius: 20px" class="col-md-5 AdTwo MyDiv">
            <img src="assets/1980-ford-mustang.jpg" alt="Avatar" class="AdTwoImage">
        </button>
      </div>

  <div class="CardListText">

    <h2 style="  font-family: 'Anek Malayalam', sans-serif; color: black;" i18n>Explore Campaigns</h2>

  </div>



        <div class="row BigCard">
           <div class="col-md-4 BigCardImage">
             <div class="BigCardSideButtons">
               <button style="margin-right: 5px" class="btn btn-outline-primary Heart"><i class="fa fa-heart"></i></button>
               <button class="btn btn-outline-primary Share"><i class="fa fa-share-alt"></i></button><br>
               <circle-progress
                 [percent]="85"
                 [radius]="40"
                 [outerStrokeWidth]="8"
                 [innerStrokeWidth]="4"
                 [outerStrokeColor]="'blue'"
                 [innerStrokeColor]="'skyblue'"
                 [animation]="true"
                 [animationDuration]="1500"
               ></circle-progress>
             </div>
             <img src="assets/money.png" alt="Avatar" class="BigImage">
           </div>
            <div class="col-md-8 RightSide">
            <div class="BigCardText MyDiv">
              <h1 i18n class="FirstText">Win</h1>
              <h1 class="SecondText">Mustang 1980</h1>
              <h1 class="ThirdText">Buy a Blanco Pencil and make it yours!</h1>
              <h1 class="FourthText">100.00AED</h1>
            </div>
            <div class="row BigCardButtons">
              <button style="font-family: 'Oswald', sans-serif; font-size: x-large" i18n href="#" type="button" class="col btn btn-outline-dark FirstButton">Prize Details</button>
              <button style="font-family: 'Oswald', sans-serif; font-size: x-large" i18n type="button" class="col btn btn-primary SecondButton">Add to Cart</button>
            </div>

          </div>
        </div>






      <div class="row BigCardSoldOut">

          <div class="SoldOutText">
            <h2 class="TextOneSoldOut" i18n>Sold Out</h2>
          </div>

        <div class="col-md-3 SoldOutCard MyDiv">
          <div class="SoldOutCardImage">
            <img class="SoldOutCardImages" src="assets/1980-ford-mustang.jpg" alt="Avatar" style="width:100%">
          </div>
          <div class="SoldOutCardDescription">
            <h5 style="margin-top: -20px" class="SoldOutPrice">70.000DHS</h5>
            <h5 class="SoldOutId">CJ-SAN2002</h5>
            <h4 i18n class="SoldOutDate">Draw Date:9/11/2001</h4>
            <h5 i18n class="ParticipationStatus">You are not a participant</h5>
          </div>
        </div>

        <div class="col-md-3 SoldOutCard MyDiv">
          <div class="SoldOutCardImage">
            <img class="SoldOutCardImages" src="assets/1980-ford-mustang.jpg" alt="Avatar" style="width:100%">
          </div>
          <div class="SoldOutCardDescription">
            <h5 style="margin-top: -20px" class="SoldOutPrice">70.000DHS</h5>
            <h5 class="SoldOutId">CJ-SAN2002</h5>
            <h4 i18n class="SoldOutDate">Draw Date:9/11/2001</h4>
            <h5 i18n class="ParticipationStatus">You are not a participant</h5>
          </div>
        </div>

        <div class="col-md-3 SoldOutCard MyDiv">
          <div class="SoldOutCardImage">
            <img class="SoldOutCardImages" src="assets/1980-ford-mustang.jpg" alt="Avatar" style="width:100%">
          </div>
          <div class="SoldOutCardDescription">
            <h5 style="margin-top: -20px" class="SoldOutPrice">70.000DHS</h5>
            <h5 class="SoldOutId">CJ-SAN2002</h5>
            <h4 i18n class="SoldOutDate">Draw Date:9/11/2001</h4>
            <h5 i18n class="ParticipationStatus">You are not a participant</h5>
          </div>
        </div>
      </div>


  <div class="CardListText">

    <h2 style="font-family: 'Anek Malayalam', sans-serif; color: black;" i18n>Products</h2>

  </div>


  <div class="row CardListRow" id="Products"><!--products -->

    <button style="background: white; border: white" class="col-md-2 CardList MyDiv" (click)="openModal()">
      <div class="ProductImageDiv">
        <img class="CardImages" src="assets/1980-ford-mustang.jpg" alt="Avatar" style="width:100%">
      </div>
      <div class="CardDescription">
        <h6 style="font-family: 'Titillium Web', sans-serif; font-weight: bold; font-size: 25px;">AK-47</h6>
        <h6 style="  font-family: 'Anek Malayalam', sans-serif; font-size: 25px; color: #48b650">AED850.00</h6>
      </div>
    </button>

    <button style="background: white; border: white" class="col-md-2 CardList MyDiv" (click)="openModal()">
      <div class="ProductImageDiv">
        <img class="CardImages" src="assets/1980-ford-mustang.jpg" alt="Avatar" style="width:100%">
      </div>
      <div class="CardDescription">
        <h6 style="font-family: 'Titillium Web', sans-serif; font-weight: bold; font-size: 25px;">AK-47</h6>
        <h6 style="  font-family: 'Anek Malayalam', sans-serif; font-size: 25px; color: #48b650">AED850.00</h6>
      </div>
    </button>

    <button style="background: white; border: white" class="col-md-2 CardList MyDiv" (click)="openModal()">
      <div class="ProductImageDiv">
        <img class="CardImages" src="assets/1980-ford-mustang.jpg" alt="Avatar" style="width:100%">
      </div>
      <div class="CardDescription">
        <h6 style="font-family: 'Titillium Web', sans-serif; font-weight: bold; font-size: 25px;">AK-47</h6>
        <h6 style="  font-family: 'Anek Malayalam', sans-serif; font-size: 25px; color: #48b650">AED850.00</h6>
      </div>
    </button>

    <button style="background: white; border: white" class="col-md-2 CardList MyDiv" (click)="openModal()">
      <div class="ProductImageDiv">
        <img class="CardImages" src="assets/1980-ford-mustang.jpg" alt="Avatar" style="width:100%">
      </div>
      <div class="CardDescription">
        <h6 style="font-family: 'Titillium Web', sans-serif; font-weight: bold; font-size: 25px;">AK-47</h6>
        <h6 style="  font-family: 'Anek Malayalam', sans-serif; font-size: 25px; color: #48b650">AED850.00</h6>
      </div>
    </button>

    <button style="background: white; border: white" class="col-md-2 CardList MyDiv" (click)="openModal()">
      <div class="ProductImageDiv">
        <img class="CardImages" src="assets/1980-ford-mustang.jpg" alt="Avatar" style="width:100%">
      </div>
      <div class="CardDescription">
        <h6 style="font-family: 'Titillium Web', sans-serif; font-weight: bold; font-size: 25px;">AK-47</h6>
        <h6 style="  font-family: 'Anek Malayalam', sans-serif; font-size: 25px; color: #48b650">AED850.00</h6>
      </div>
    </button>

  </div>


  <div class="row BigCardWinnersList" id="Winners">
    <div class="SoldOutText">
      <h2 class="TextOneSoldOut" i18n>Winners</h2>
    </div>

    <div class="col-md-3 SoldOutCard MyDiv">
      <div class="SoldOutCardImage">
        <img class="SoldOutCardImages" src="assets/1980-ford-mustang.jpg" alt="Avatar" style="width:100%">
      </div>
      <div class="SoldOutCardDescription">
        <h2 i18n style="color: #9191E9; font-family: Rubik,sans-serif; font-weight: 900;font-size: 23px; font-style: italic; margin-top: -30px">Congratulations</h2>
        <h4 style="font-weight: bold; font-family: 'Titillium Web', sans-serif;">Josef Stalin</h4>
        <h4 i18n="@@213897066706948114" style="font-family: 'Anek Malayalam', sans-serif; margin-top: -5px">On winning</h4>
        <small i18n="@@5626732271959150155" style="font-family: 'Anek Malayalam', sans-serif;">Draw Date:</small><br>
        <small i18n style="font-family: 'Anek Malayalam', sans-serif;">Coupon:53589990</small>
      </div>
    </div>

    <div class="col-md-3 SoldOutCard MyDiv">
      <div class="SoldOutCardImage">
        <img class="SoldOutCardImages" src="assets/1980-ford-mustang.jpg" alt="Avatar" style="width:100%">
      </div>
      <div class="SoldOutCardDescription">
        <h2 i18n style="color: #7000ff; font-family: Rubik,sans-serif; font-weight: 900;font-size: 23px; font-style: italic; margin-top: -30px">Congratulations</h2>
        <h4 style="font-weight: bold; font-family: 'Titillium Web', sans-serif;">Josef Stalin</h4>
        <h4 i18n="@@213897066706948114" style="font-family: 'Anek Malayalam', sans-serif; margin-top: -5px">On winning</h4>
        <small i18n="@@5626732271959150155" style="font-family: 'Anek Malayalam', sans-serif;">Draw Date:</small><br>
        <small i18n style="font-family: 'Anek Malayalam', sans-serif;">Coupon:53589990</small>
      </div>
    </div>

    <div class="col-md-3 SoldOutCard MyDiv">
      <div class="SoldOutCardImage">
        <img class="SoldOutCardImages" src="assets/1980-ford-mustang.jpg" alt="Avatar" style="width:100%">
      </div>
      <div class="SoldOutCardDescription">
        <h2 i18n style="color: #7000ff; font-family: Rubik,sans-serif; font-weight: 900;font-size: 23px; font-style: italic; margin-top: -30px">Congratulations</h2>
        <h4 style="font-weight: bold; font-family: 'Titillium Web', sans-serif;">Josef Stalin</h4>
        <h4 i18n="@@213897066706948114" style="font-family: 'Anek Malayalam', sans-serif; margin-top: -5px">On winning</h4>
        <small i18n="@@5626732271959150155" style="font-family: 'Anek Malayalam', sans-serif;">Draw Date:</small><br>
        <small i18n style="font-family: 'Anek Malayalam', sans-serif;">Coupon:53589990</small>
      </div>
    </div>

  </div>

<!--  <div class="row BigCardDrawsList">-->

<!--    <div class="SoldOutText">-->
<!--      <h2 class="TextOneSoldOut" i18n>Draws</h2>-->
<!--    </div>-->

<!--    <div class="col-md-3 SoldOutCard MyDiv">-->
<!--      <div class="SoldOutCardImage">-->
<!--        <img class="SoldOutCardImages" src="assets/1980-ford-mustang.jpg" alt="Avatar" style="width:100%">-->
<!--      </div>-->
<!--      <div class="SoldOutCardDescription">-->
<!--        <h2 class="WinnersName">Congratulations</h2>-->
<!--        <h5 class="WinnersReward">Josef Stalin</h5>-->
<!--        <h6>On winning World War 2</h6>-->
<!--        <h6 class="PrizeDate">Draw Date:21/12/1922</h6>-->
<!--        <h6 class="ParticipationStatus">Coupon:53589990</h6>-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="col-md-3 SoldOutCard MyDiv">-->
<!--      <div class="SoldOutCardImage">-->
<!--        <img class="SoldOutCardImages" src="assets/1980-ford-mustang.jpg" alt="Avatar" style="width:100%">-->
<!--      </div>-->
<!--      <div class="SoldOutCardDescription">-->
<!--        <h2 class="WinnersName">Congratulations</h2>-->
<!--        <h5 class="WinnersReward">Josef Stalin</h5>-->
<!--        <h6>On winning World War 2</h6>-->
<!--        <h6 class="PrizeDate">Draw Date:21/12/1922</h6>-->
<!--        <h6 class="ParticipationStatus">Coupon:53589990</h6>-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="col-md-3 SoldOutCard MyDiv">-->
<!--      <div class="SoldOutCardImage">-->
<!--        <img class="SoldOutCardImages" src="assets/1980-ford-mustang.jpg" alt="Avatar" style="width:100%">-->
<!--      </div>-->
<!--      <div class="SoldOutCardDescription">-->
<!--        <h2 class="WinnersName">Congratulations</h2>-->
<!--        <h5 class="WinnersReward">Josef Stalin</h5>-->
<!--        <h6>On winning World War 2</h6>-->
<!--        <h6 class="PrizeDate">Draw Date:21/12/1922</h6>-->
<!--        <h6 class="ParticipationStatus">Coupon:53589990</h6>-->
<!--      </div>-->
<!--    </div>-->

<!--  </div>-->

  <button type="button" class="btn btn-primary cart" (click)="openCart()"><i class="fa fa-shopping-cart" aria-hidden="true"></i></button>


</div> <!--Container -->
