

<div class="container">
  <app-navbar></app-navbar>
</div>

<div class="container"> <!--Container -->

        <div class="row">
          <div class="col-md-12 MainImageCol">
            <img class="MainImage" src="assets/1980-ford-mustang.jpg" alt="Avatar" >
          </div>
        </div>


    <div class="CardListText">

      <h2>Closing soon</h2>

    </div>



    <div class="row CardListRow">

      <div class="col-md-2 CardList MyDiv">
        <div class="CardText">
          <h6>Text</h6>
        </div>
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <div class="CardImageDiv">
        <img class="CardImages" src="assets/1980-ford-mustang.jpg" alt="Avatar" style="width:100%">
        </div>
        <div class="CardDescription">
          <h6>this is our product and its sold for around 100 bucks</h6>
        </div>
        <div class="CardButton">
        <button class="rounded-pill">Add to cart</button>
        </div>
      </div>

      <div class="col-md-2 CardList MyDiv">
        <div class="CardText">
          <h6>Text</h6>
        </div>
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <div class="CardImageDiv">
          <img class="CardImages" src="assets/1980-ford-mustang.jpg" alt="Avatar" style="width:100%">
        </div>
        <div class="CardDescription">
          <h6>this is our product and its sold for around 100 bucks</h6>
        </div>
        <div class="CardButton">
          <button class="rounded-pill">Add to cart</button>
        </div>
      </div>

      <div class="col-md-2 CardList MyDiv">
        <div class="CardText">
          <h6>Text</h6>
        </div>
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <div class="CardImageDiv">
          <img class="CardImages" src="assets/1980-ford-mustang.jpg" alt="Avatar" style="width:100%">
        </div>
        <div class="CardDescription">
          <h6>this is our product and its sold for around 100 bucks</h6>
        </div>
        <div class="CardButton">
          <button class="rounded-pill">Add to cart</button>
        </div>
      </div>

      <div class="col-md-2 CardList MyDiv">
        <div class="CardText">
          <h6>Text</h6>
        </div>
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <div class="CardImageDiv">
          <img class="CardImages" src="assets/1980-ford-mustang.jpg" alt="Avatar" style="width:100%">
        </div>
        <div class="CardDescription">
          <h6>this is our product and its sold for around 100 bucks</h6>
        </div>
        <div class="CardButton">
          <button class="rounded-pill">Add to cart</button>
        </div>
      </div>

      <div class="col-md-2 CardList MyDiv">
        <div class="CardText">
          <h6>Text</h6>
        </div>
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <div class="CardImageDiv">
          <img class="CardImages" src="assets/1980-ford-mustang.jpg" alt="Avatar" style="width:100%">
        </div>
        <div class="CardDescription">
          <h6>this is our product and its sold for around 100 bucks</h6>
        </div>
        <div class="CardButton">
          <button class="rounded-pill">Add to cart</button>
        </div>
      </div>

    </div>


      <div class="row Ads">
        <div class="col-md-5 AdOne MyDiv">
            <img src="assets/1980-ford-mustang.jpg" alt="Avatar" class="AdOneImage">
        </div>
        <div class="col-md-5 AdTwo MyDiv">
            <img src="assets/1980-ford-mustang.jpg" alt="Avatar" class="AdTwoImage">
        </div>
      </div>

  <div class="CardListText">

    <h2>Explore Campaigns</h2>

  </div>


        <div class="row BigCard">
           <div class="col-md-4 BigCardImage">
             <div class="BigCardSideButtons">
               <button class="btn Heart"><i class="fa fa-heart"></i></button>
               <button class="btn Share"><i class="fa fa-share-alt"></i></button>
             </div>
             <img src="assets/money.png" alt="Avatar" class="BigImage">
           </div>
            <div class="col-md-8 RightSide">
            <div class="BigCardText">
              <h1 class="FirstText">Win</h1>
              <h1 class="SecondText">AED50,000 CASH</h1>
              <h1 class="ThirdText">Buy a fucking pizza</h1>
              <h1 class="FourthText">100.00AED</h1>
            </div>
            <div class="row BigCardButtons">
              <button href="#" type="button" class="col btn btn-outline-dark FirstButton">Prize Details</button>
              <button type="button" class="col btn btn-primary SecondButton">Add to Cart</button>
            </div>

          </div>
        </div>






      <div class="row BigCardSoldOut">
<!--        <div class="col-md-12 SoldOut">-->
          <div class="SoldOutText">
            <h2 class="TextOneSoldOut">Sold Out</h2>
<!--            <p class="TextTwoSoldOut">All our sold out campaigns along with their</p>-->
          </div>
<!--          <div class="SoldOutList">-->
<!--            <div class="container">-->
<!--              <div class="row SoldOutRow">-->

                <div class="col-md-3 SoldOutCard MyDiv">
                  <div class="SoldOutCardImage">
                    <img class="SoldOutCardImages" src="assets/1980-ford-mustang.jpg" alt="Avatar" style="width:100%">
                  </div>
                  <div class="SoldOutCardDescription">
                    <b class="SoldOutPrice">70.000DHS</b>
                    <h5 class="SoldOutId">CJ-SAN2002</h5>
                    <h4 class="SoldOutDate">Draw Date:9/11/2001</h4>
                    <h5 class="ParticipationStatus">You are not a participant</h5>
                  </div>
                </div>

        <div class="col-md-3 SoldOutCard MyDiv">
          <div class="SoldOutCardImage">
            <img class="SoldOutCardImages" src="assets/1980-ford-mustang.jpg" alt="Avatar" style="width:100%">
          </div>
          <div class="SoldOutCardDescription">
            <b class="SoldOutPrice">70.000DHS</b>
            <h5 class="SoldOutId">CJ-SAN2002</h5>
            <h4 class="SoldOutDate">Draw Date:9/11/2001</h4>
            <h5 class="ParticipationStatus">You are not a participant</h5>
          </div>
        </div>

        <div class="col-md-3 SoldOutCard MyDiv">
          <div class="SoldOutCardImage">
            <img class="SoldOutCardImages" src="assets/1980-ford-mustang.jpg" alt="Avatar" style="width:100%">
          </div>
          <div class="SoldOutCardDescription">
            <b class="SoldOutPrice">70.000DHS</b>
            <h5 class="SoldOutId">CJ-SAN2002</h5>
            <h4 class="SoldOutDate">Draw Date:9/11/2001</h4>
            <h5 class="ParticipationStatus">You are not a participant</h5>
          </div>
        </div>
      </div>

  <div class="row CardListRow">

    <div class="col-md-2 CardList MyDiv">

      <div class="ProductImageDiv">
        <img class="CardImages" src="assets/1980-ford-mustang.jpg" alt="Avatar" style="width:100%">
      </div>
      <div class="CardDescription">
        <h6>AK-47</h6>
        <h6>200DHS</h6>
      </div>

    </div>

    <div class="col-md-2 CardList MyDiv">

      <div class="ProductImageDiv">
        <img class="CardImages" src="assets/1980-ford-mustang.jpg" alt="Avatar" style="width:100%">
      </div>
      <div class="CardDescription">
        <h6>AK-47</h6>
        <h6>200DHS</h6>
      </div>

    </div>

    <div class="col-md-2 CardList MyDiv">

      <div class="ProductImageDiv">
        <img class="CardImages" src="assets/1980-ford-mustang.jpg" alt="Avatar" style="width:100%">
      </div>
      <div class="CardDescription">
        <h6>AK-47</h6>
        <h6>200DHS</h6>
      </div>

    </div>

    <div class="col-md-2 CardList MyDiv">

      <div class="ProductImageDiv">
        <img class="CardImages" src="assets/1980-ford-mustang.jpg" alt="Avatar" style="width:100%">
      </div>
      <div class="CardDescription">
        <h6>AK-47</h6>
        <h6>200DHS</h6>
      </div>

    </div>

    <div class="col-md-2 CardList MyDiv">

      <div class="ProductImageDiv">
        <img class="CardImages" src="assets/1980-ford-mustang.jpg" alt="Avatar" style="width:100%">
      </div>
      <div class="CardDescription">
        <h6>AK-47</h6>
        <h6>200DHS</h6>
      </div>

    </div>

  </div>


  <div class="row BigCardSoldOut">
    <!--        <div class="col-md-12 SoldOut">-->
    <div class="SoldOutText">
      <h2 class="TextOneSoldOut">Winners</h2>
      <!--            <p class="TextTwoSoldOut">All our sold out campaigns along with their</p>-->
    </div>
    <!--          <div class="SoldOutList">-->
    <!--            <div class="container">-->
    <!--              <div class="row SoldOutRow">-->

    <div class="col-md-3 SoldOutCard MyDiv">
      <div class="SoldOutCardImage">
        <img class="SoldOutCardImages" src="assets/1980-ford-mustang.jpg" alt="Avatar" style="width:100%">
      </div>
      <div class="SoldOutCardDescription">
        <h2 class="WinnersName">Congratulations</h2>
        <h5 class="WinnersReward">Josef Stalin</h5>
        <h6>On winning World War 2</h6>
        <h6 class="PrizeDate">Draw Date:21/12/1922</h6>
        <h6 class="ParticipationStatus">Coupon:53589990</h6>
      </div>
    </div>

    <div class="col-md-3 SoldOutCard MyDiv">
      <div class="SoldOutCardImage">
        <img class="SoldOutCardImages" src="assets/1980-ford-mustang.jpg" alt="Avatar" style="width:100%">
      </div>
      <div class="SoldOutCardDescription">
        <h2 class="WinnersName">Congratulations</h2>
        <h5 class="WinnersReward">Josef Stalin</h5>
        <h6>On winning World War 2</h6>
        <h6 class="PrizeDate">Draw Date:21/12/1922</h6>
        <h6 class="ParticipationStatus">Coupon:53589990</h6>
      </div>
    </div>

    <div class="col-md-3 SoldOutCard MyDiv">
      <div class="SoldOutCardImage">
        <img class="SoldOutCardImages" src="assets/1980-ford-mustang.jpg" alt="Avatar" style="width:100%">
      </div>
      <div class="SoldOutCardDescription">
        <h2 class="WinnersName">Congratulations</h2>
        <h5 class="WinnersReward">Josef Stalin</h5>
        <h6>On winning World War 2</h6>
        <h6 class="PrizeDate">Draw Date:21/12/1922</h6>
        <h6 class="ParticipationStatus">Coupon:53589990</h6>
      </div>
    </div>

  </div>

  <div class="row BigCardSoldOut">
    <!--        <div class="col-md-12 SoldOut">-->
    <div class="SoldOutText">
      <h2 class="TextOneSoldOut">Draws</h2>
      <!--            <p class="TextTwoSoldOut">All our sold out campaigns along with their</p>-->
    </div>
    <!--          <div class="SoldOutList">-->
    <!--            <div class="container">-->
    <!--              <div class="row SoldOutRow">-->

    <div class="col-md-3 SoldOutCard MyDiv">
      <div class="SoldOutCardImage">
        <img class="SoldOutCardImages" src="assets/1980-ford-mustang.jpg" alt="Avatar" style="width:100%">
      </div>
      <div class="SoldOutCardDescription">
        <h2 class="WinnersName">Congratulations</h2>
        <h5 class="WinnersReward">Josef Stalin</h5>
        <h6>On winning World War 2</h6>
        <h6 class="PrizeDate">Draw Date:21/12/1922</h6>
        <h6 class="ParticipationStatus">Coupon:53589990</h6>
      </div>
    </div>

    <div class="col-md-3 SoldOutCard MyDiv">
      <div class="SoldOutCardImage">
        <img class="SoldOutCardImages" src="assets/1980-ford-mustang.jpg" alt="Avatar" style="width:100%">
      </div>
      <div class="SoldOutCardDescription">
        <h2 class="WinnersName">Congratulations</h2>
        <h5 class="WinnersReward">Josef Stalin</h5>
        <h6>On winning World War 2</h6>
        <h6 class="PrizeDate">Draw Date:21/12/1922</h6>
        <h6 class="ParticipationStatus">Coupon:53589990</h6>
      </div>
    </div>

    <div class="col-md-3 SoldOutCard MyDiv">
      <div class="SoldOutCardImage">
        <img class="SoldOutCardImages" src="assets/1980-ford-mustang.jpg" alt="Avatar" style="width:100%">
      </div>
      <div class="SoldOutCardDescription">
        <h2 class="WinnersName">Congratulations</h2>
        <h5 class="WinnersReward">Josef Stalin</h5>
        <h6>On winning World War 2</h6>
        <h6 class="PrizeDate">Draw Date:21/12/1922</h6>
        <h6 class="ParticipationStatus">Coupon:53589990</h6>
      </div>
    </div>

  </div>
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->


<!--  <h2 class="ProductsText">Rpeep Products</h2>-->

<!--  <div class="CardList">-->
<!--    <div class="container">-->
<!--      <div class="row">-->

<!--        <div class="col" >-->

<!--          <div class="ProductCardImage">-->
<!--            <img class="ProductCardImages" src="assets/1980-ford-mustang.jpg" alt="Avatar" style="width:100%">-->
<!--          </div>-->
<!--          <div class="ProductCardDescription">-->
<!--            <h4 class="ProductName">AK-47</h4>-->
<!--            <h4 class="ProductPrice">USD700</h4>-->
<!--          </div>-->

<!--        </div>-->

<!--        <div class="col" >-->

<!--          <div class="ProductCardImage">-->
<!--            <img class="ProductCardImages" src="assets/1980-ford-mustang.jpg" alt="Avatar" style="width:100%">-->
<!--          </div>-->
<!--          <div class="ProductCardDescription">-->
<!--            <h4 class="ProductName">AK-47</h4>-->
<!--            <h4 class="ProductPrice">USD700</h4>-->
<!--          </div>-->

<!--        </div>-->

<!--        <div class="col" >-->

<!--          <div class="ProductCardImage">-->
<!--            <img class="ProductCardImages" src="assets/1980-ford-mustang.jpg" alt="Avatar" style="width:100%">-->
<!--          </div>-->
<!--          <div class="ProductCardDescription">-->
<!--            <h4 class="ProductName">AK-47</h4>-->
<!--            <h4 class="ProductPrice">USD700</h4>-->
<!--          </div>-->

<!--        </div>-->

<!--        <div class="col" >-->

<!--          <div class="ProductCardImage">-->
<!--            <img class="ProductCardImages" src="assets/1980-ford-mustang.jpg" alt="Avatar" style="width:100%">-->
<!--          </div>-->
<!--          <div class="ProductCardDescription">-->
<!--            <h4 class="ProductName">AK-47</h4>-->
<!--            <h4 class="ProductPrice">USD700</h4>-->
<!--          </div>-->
<!--        </div>-->

<!--        <div class="col" >-->

<!--          <div class="ProductCardImage">-->
<!--            <img class="ProductCardImages" src="assets/1980-ford-mustang.jpg" alt="Avatar" style="width:100%">-->
<!--          </div>-->
<!--          <div class="ProductCardDescription">-->
<!--            <h4 class="ProductName">AK-47</h4>-->
<!--            <h4 class="ProductPrice">USD700</h4>-->
<!--          </div>-->
<!--        </div>-->

<!--        <div class="col" >-->

<!--          <div class="ProductCardImage">-->
<!--            <img class="ProductCardImages" src="assets/1980-ford-mustang.jpg" alt="Avatar" style="width:100%">-->
<!--          </div>-->
<!--          <div class="ProductCardDescription">-->
<!--            <h4 class="ProductName">AK-47</h4>-->
<!--            <h4 class="ProductPrice">USD700</h4>-->
<!--          </div>-->

<!--        </div>-->

<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

<!--  <div class="Winners">-->
<!--    <div class="container">-->
<!--      <div class="row">-->
<!--        <div class="col Winners">-->
<!--          <div class="WinnersText">-->
<!--            <h2 class="WinnersTextOne">Winners</h2>-->
<!--            <p class="WinnersTextTwo">All our winners are announced in this section</p>-->
<!--          </div>-->

<!--          <div class="WinnersList">-->
<!--            <div class="container">-->
<!--              <div class="row WinnersRow">-->

<!--                <div class="col WinnersCard">-->
<!--                  <div class="WinnersCardImage">-->
<!--                    <img class="WinnersCardImages" src="assets/1980-ford-mustang.jpg" alt="Avatar" style="width:100%">-->
<!--                  </div>-->
<!--                  <div class="WinnersCardDescription">-->
<!--                    <b class="Congrats">Congratulations</b>-->
<!--                    <h5 class="WinnersName">Josef Stalin</h5>-->
<!--                    <h4 class="WinnersReward">On winning AED50,000 Cash</h4>-->
<!--                    <h5 class="PrizeId">Coupon no: USSR-KGB-1922</h5>-->
<!--                    <h5 class="PrizeDate">Announced: 30/12/1922</h5>-->
<!--                  </div>-->
<!--                </div>-->

<!--                <div class="col WinnersCard">-->
<!--                  <div class="WinnersCardImage">-->
<!--                    <img class="WinnersCardImages" src="assets/1980-ford-mustang.jpg" alt="Avatar" style="width:100%">-->
<!--                  </div>-->
<!--                  <div class="WinnersCardDescription">-->
<!--                    <b class="Congrats">Congratulations</b>-->
<!--                    <h5 class="WinnersName">Josef Stalin</h5>-->
<!--                    <h4 class="WinnersReward">On winning AED50,000 Cash</h4>-->
<!--                    <h5 class="PrizeId">Coupon no: USSR-KGB-1922</h5>-->
<!--                    <h5 class="PrizeDate">Announced: 30/12/1922</h5>-->
<!--                  </div>-->
<!--                </div>-->

<!--                <div class="col WinnersCard">-->
<!--                  <div class="WinnersCardImage">-->
<!--                    <img class="WinnersCardImages" src="assets/1980-ford-mustang.jpg" alt="Avatar" style="width:100%">-->
<!--                  </div>-->
<!--                  <div class="WinnersCardDescription">-->
<!--                    <b class="Congrats">Congratulations</b>-->
<!--                    <h5 class="WinnersName">Josef Stalin</h5>-->
<!--                    <h4 class="WinnersReward">On winning AED50,000 Cash</h4>-->
<!--                    <h5 class="PrizeId">Coupon no: USSR-KGB-1922</h5>-->
<!--                    <h5 class="PrizeDate">Announced: 30/12/1922</h5>-->
<!--                  </div>-->
<!--                </div>-->

<!--                <div class="col WinnersCard">-->
<!--                  <div class="WinnersCardImage">-->
<!--                    <img class="WinnersCardImages" src="assets/1980-ford-mustang.jpg" alt="Avatar" style="width:100%">-->
<!--                  </div>-->
<!--                  <div class="WinnersCardDescription">-->
<!--                    <b class="Congrats">Congratulations</b>-->
<!--                    <h5 class="WinnersName">Josef Stalin</h5>-->
<!--                    <h4 class="WinnersReward">On winning AED50,000 Cash</h4>-->
<!--                    <h5 class="PrizeId">Coupon no: USSR-KGB-1922</h5>-->
<!--                    <h5 class="PrizeDate">Announced: 30/12/1922</h5>-->
<!--                  </div>-->
<!--                </div>-->



<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

<!--  <div class="Draws">-->
<!--    <div class="container">-->
<!--      <div class="row">-->
<!--        <div class="col Draws">-->
<!--          <div class="DrawsText">-->
<!--            <h2 class="DrawsTextOne">Draws</h2>-->
<!--            <p class="DrawsTextTwo">See all our upcoming draws here for all campaigns and the campaigns you participated in</p>-->
<!--          </div>-->
<!--          <div class="DrawsButtons">-->
<!--            <button type="button" class="btn btn-primary DrawButtonOne">Other Draws</button>-->
<!--            <button type="button" class="btn btn-primary DrawButtonTwo">DE Draws</button>-->
<!--          </div>-->

<!--          <div class="WinnersList">-->
<!--            <div class="container">-->
<!--              <div class="row WinnersRow">-->


<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->



</div> <!--Container -->
