<div class="modal-header">
  <button type="button" class="btn-close" aria-label="Close"></button> <!-- (click)="modalRef.close()" -->
</div>
<div class="modal-body">
  <div class="container-fluid">
  <div class="row">
    <h6 style="font-family: 'Anek Malayalam', sans-serif;">Products in cart</h6>
  </div>
  <div class="row">
    <div class="col-5">
  <div class="Image">
    <img class="cartImage" src="assets/1980-ford-mustang.jpg" alt="Avatar" >
  </div>
    </div>

    <div class="col-6">
    <div class="Description">
      <small style="font-family: 'Anek Malayalam', sans-serif;">AED25,000 Cash</small><br>
      <small style="font-family: 'Anek Malayalam', sans-serif;">Rosso Pencil</small><br>
      <small style="font-family: 'Anek Malayalam', sans-serif;">AED10.00</small><br>
      <small style="font-family: 'Anek Malayalam', sans-serif;">2 Coupons Per unit</small>
    </div>
    </div>

    <div class="col-1">
      <div class="Quantity MyDiv">

        <button style="margin-bottom: 10px" type="button" class="btn btn-primary btn-sm"><i class="fa fa-plus" aria-hidden="true"></i></button> <br>
        <small style="margin-left: 10px; margin-right: 10px">1</small> <br>
        <button style="margin-top: 10px" type="button" class="btn btn-primary btn-sm"><i class="fa fa-minus" aria-hidden="true"></i></button>

      </div>
    </div>

  </div>

  <div class="row justify-content-between TotalCoupons">

    <div class="col-4">
      <h6 style="font-family: 'Anek Malayalam', sans-serif;">Total Coupon(s)</h6>
    </div>

    <div class="col-2" style="text-align: center">
      <h6 style="font-family: 'Anek Malayalam', sans-serif;">6</h6>
    </div>

  </div>

  <div class="row justify-content-between TotalCoupons">

    <div class="col-4">
    <h6 style="font-family: 'Anek Malayalam', sans-serif;">Total Coupon(s)</h6>
    </div>

    <div class="col-2" style="text-align: center">
      <h6 style="font-family: 'Anek Malayalam', sans-serif;">6</h6>
    </div>

  </div>

  </div>
</div>

<div class="modal-footer">

  <div class="row">
    <small style="margin-bottom: 5px; font-family: 'Anek Malayalam', sans-serif;"><i style="margin-right: 10px; margin-left: 10px" class="fa fa-gift" aria-hidden="true"></i>You will get Free 1 iPoints from this purchase</small>
    <a href="/checkout" style="width: 100%; border-radius: 10px; font-family: 'Anek Malayalam', sans-serif;" type="button" class="btn btn-primary">Continue to checkout</a>
  </div>

</div>

