.cartImage {
  width: 100%;
  height: 150px;
  border-radius: 20px;
}

.Description {
  margin-top: 20px;
}

.Quantity {
  margin-top: 10px;
}

.TotalProducts {
  margin-top: 20px;
}

.TotalCoupons {
  margin-top: 20px;
}
