<div class="container">
  <app-navbar></app-navbar>
</div>

<div class="container">

  <h1 i18n style="font-family: 'Titillium Web', sans-serif;">Cart</h1>

  <div class="row">

    <div class="col-md-8">

      <div class="Cart">
        <div style="height: 100%" class="row">
          <div class="col-4">
            <img class="CheckoutImage" src="assets/1980-ford-mustang.jpg" alt="Avatar" >
          </div>
          <div style="margin-top: 25px" class="col-6">
            <small style="font-family: 'Titillium Web', sans-serif;">AED25,000 Cash</small> <br>
            <small style="font-family: 'Titillium Web', sans-serif;">Idealz Tee</small> <br>
            <small style="font-family: 'Titillium Web', sans-serif;">AED250.00</small> <br>
            <small i18n style="font-family: 'Titillium Web', sans-serif;">2 Coupons Per unit</small>
          </div>
          <div style="margin-top: 30px" class="col-md-2 MyDiv">
            <button style="margin-bottom: 5px; margin-right: 5px" type="button" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i></button>
            <button style="margin-bottom: 5px; margin-right: 5px; font-family: 'Titillium Web', sans-serif;" type="button" class="btn btn-outline-primary">Quatity: 10</button>
            <button style="margin-bottom: 5px; margin-right: 5px" type="button" class="btn btn-primary"><i class="fa fa-minus" aria-hidden="true"></i></button>
          </div>
        </div>
      </div>

      <h5 i18n style="margin-bottom: 20px; font-family: 'Titillium Web', sans-serif;">People have also baught these together</h5>

      <div class="row justify-content-around">

      <div class="Suggestions col-5">

        <img class="Suggest1" src="assets/1980-ford-mustang.jpg" alt="Avatar" >

        <div class="MyDiv" style="margin-top: 40px">
          <small style="font-family: 'Titillium Web', sans-serif;">AED15,000 Cash</small><br>
          <small style="font-family: 'Titillium Web', sans-serif;">Zorro Pencil</small><br>
          <small style="font-family: 'Titillium Web', sans-serif;">AED5.00</small><br>
          <button i18n style="margin-top: 10px; font-family: 'Titillium Web', sans-serif;" type="button" class="btn btn-primary btn-sm">Add</button>
        </div>

      </div>

      <div class="Suggestions col-5">

        <img class="Suggest2" src="assets/1980-ford-mustang.jpg" alt="Avatar">

        <div class="MyDiv" style="margin-top: 40px">
        <small style="font-family: 'Titillium Web', sans-serif;">AED15,000 Cash</small><br>
        <small style="font-family: 'Titillium Web', sans-serif;">Zorro Pencil</small><br>
        <small style="font-family: 'Titillium Web', sans-serif;">AED5.00</small><br>
          <button i18n style="margin-top: 10px; font-family: 'Titillium Web', sans-serif;" type="button" class="btn btn-primary btn-sm">Add</button>
        </div>


      </div>

      </div>

    </div>

    <div class="col-md-4">

      <div class="Total">

        <div style="margin-left: 10px; margin-right: 10px" class="row justify-content-between">
          <div class="col-6">
            <h2 i18n style="margin-top: 10px; margin-bottom: -5px; font-family: 'Titillium Web', sans-serif;">Total</h2>
            <small i18n style="font-family: 'Titillium Web', sans-serif;">Inclusive of VAT</small>
          </div>
          <div class="col-6">
            <h2 style="margin-top: 20px; font-family: 'Titillium Web', sans-serif;">AED250.00</h2>
          </div>
        </div>

        <div style="margin-left: 10px; margin-top: 20px; margin-right: 10px" class="row justify-content-between">
          <div class="col-4">
            <small i18n style="font-family: 'Titillium Web', sans-serif;">Subtotal</small>
          </div>
          <div class="col-4">
            <small style="font-family: 'Titillium Web', sans-serif;">AED238.10</small>
          </div>
        </div>

        <div style="margin-left: 10px; margin-top: 20px; margin-right: 10px" class="row justify-content-between">
          <div class="col-4">
            <small i18n style="font-family: 'Titillium Web', sans-serif;">VAT</small>
          </div>
          <div class="col-4">
            <small style="font-family: 'Titillium Web', sans-serif;">AED11.90</small>
          </div>
        </div>

        <label style="margin-top: 5px; margin-left: 10px; margin-right: 10px" class="switch">
          <input type="checkbox" checked>
          <span class="slider round"></span>
        </label>
        <small i18n style="margin-left: 10px; margin-top: 10px; font-family: 'Titillium Web', sans-serif;">Use iPoints Avl. 50 (AED5.00)</small>

      </div>

      <div class="Promo">

        <div class="input-group mb-3">
          <input style="border-radius: 20px; height: 50px" type="text" class="form-control" placeholder="Promo code" aria-label="Recipient's username" aria-describedby="basic-addon2">
          <div  class="input-group-append">
            <button i18n style="border-radius: 20px; height: 50px" class="btn btn-outline-secondary" type="button">Use</button>
          </div>
        </div>

      </div>

      <div class="PaymentMethod">
        <h3 i18n style="margin-right: 10px; margin-left: 10px; font-family: 'Titillium Web', sans-serif;">Payment methods</h3>

        <div class="MyDiv">
        <label i18n style=" font-weight: bold; font-family: 'Titillium Web', sans-serif;" for="basic-url">Card number</label>
        <input  style="width: 400px; margin-left: 5px" type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
        </div>

        <div class="form-row MyDiv" style="margin-top: 10px">
          <label class="form-group col-md-5 LeftInput" style="margin-left: 10px; margin-right: 10px">
            <label i18n style="font-weight: bold; font-family: 'Titillium Web', sans-serif;">Expiry Date MM/YY</label>
            <input class="form-control" >
          </label>
          <label class="form-group col-md-5 RightInput" style="margin-left: 10px; margin-right: 10px">
            <label i18n style="font-weight: bold; font-family: 'Titillium Web', sans-serif;">Security Code</label>
            <input class="form-control">
          </label>
        </div>

      </div>

      <button i18n type="button" class="btn btn-primary PayNow">Checkout</button>

    </div>

  </div>
</div>
